.person{
	padding: .5rem;
}
.person-name{
	font-size: 1.5rem;
	font-weight: bold;
}
.person-name-middle{
	font-style: italic;
}
.person-details{
	padding-left: 2rem;
}
#content{
	padding-top: 1rem;
	font-size: 1.25rem;
}