body{
	margin: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.person{
/*	text-align: center;*/
	display: inline-block;

}

#person-name{
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	position: absolute;
	left: 50%;
	translate: -50%;
}

#mName{
	font-style: italic;
}
#person-details{
	margin-top: 3.33rem;
	position: absolute;
	left: 50%;
	span::after{
		position: absolute;
		right: 100%;
		content: ':';
		width: 1.5ch;
		text-align: center;
	}
}
span[contenteditable]{
	outline: none;
}
span[contenteditable]:hover{
	text-decoration: underline;
	text-decoration-color: rgba(0, 0, 0, 0.5);
}
span[contenteditable]:focus{
	text-decoration: underline;
}
span{
	position: relative;
}
span::before{
	content: attr(label);
	position: absolute;
	right: 100%;
	white-space: nowrap;
	margin-right: .75ch;
	padding-right: .75ch;
}

.menu-person{
	font-size: 2em;
	margin: .5rem 1rem;
	transition: .5s;
	display: inline-block;
}
.menu-person:hover{
	cursor: pointer;
	padding-left: 1rem;
}

#banner{
	background-color: #529d00;
	display: flex;
	flex-direction: column;
	left: 0;
	position: sticky;
	top: 0;
	width: 100vw;
	#banner-title{
		font-size: 6rem;
		display: flex;
		justify-content: center;
	}
	#banner-menu{
		display: flex;
		justify-content: center;
		font-size: 1.66rem;
		gap: 3rem;
		padding: .33rem;
		label{
			padding: 0.1rem 1rem;
			background-color: forestgreen;
			border-radius: .5rem;
			opacity: .66;
			transition: .2s;
			cursor: pointer;
		}
		label:hover{
			opacity: 1;
		}
	}
}
#content{
	font-size: 1.25rem;
	flex: 1 1 0%;
	padding: .5rem;
}
#content:has(.person){
	display: flex;
	justify-content: center;
}
#person-controls{
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	margin-top: .5rem;
	gap: .25rem;
	translate: -50%;
	left: -0.75ch;
}
.edit-button{
	padding: 0.1rem .5rem;
	background-color: royalblue;
	border-radius: 0.5rem;
	opacity: 0.66;
	transition: opacity 0.2s ease;
	cursor: pointer;
	color: white;
	border: none;
	font-size: 1.25rem;
}
.edit-button:hover {
	opacity: 1;
}

.delete-button{
	padding: 0.1rem .5rem;
	background-color: indianred;
	border-radius: 0.5rem;
	opacity: 0.66;
	transition: opacity 0.2s ease;
	cursor: pointer;
	color: white;
	border: none;
	font-size: 1.25rem;
}
.delete-button:hover {
	opacity: 1;
}